<app-pagina-principal></app-pagina-principal>

<div class="container mt-4 p-3" style="width: 40%; border: 1px solid blue; background-color: bisque;">
  <br>
  <h1 class="text-center text-success">Actualizar Cliente</h1>
  <h4 class="text-left">Modifique los datos del cliente:</h4>

  <form (ngSubmit)="actualizarCliente()">
    <div class="form-group">
      <label for="idcliente">ID:</label>
      <input type="text" id="idcliente" [(ngModel)]="cliente.idcliente" name="idcliente" class="form-control" placeholder="ID Cliente" readonly>
    </div>

    <div class="form-group">
      <label for="nomcliente">Nombre:</label>
      <input type="text" id="nomcliente" [(ngModel)]="cliente.nomcliente" name="nomcliente" class="form-control" placeholder="Nombre" required>
    </div>

    <div class="form-group">
      <label for="apecliente">Apellido:</label>
      <input type="text" id="apecliente" [(ngModel)]="cliente.apecliente" name="apecliente" class="form-control" placeholder="Apellido" required>
    </div>

    <div class="form-group">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" [(ngModel)]="cliente.dni" name="dni" class="form-control" placeholder="DNI" required>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" [(ngModel)]="cliente.direccion" name="direccion" class="form-control" placeholder="Dirección" required>
    </div>

    <div class="form-group">
      <label for="celular">Celular:</label>
      <input type="text" id="celular" [(ngModel)]="cliente.celular" name="celular" class="form-control" placeholder="Celular" required>
    </div>

    <div class="form-group">
      <label for="puesto">Puesto:</label>
      <input type="text" id="puesto" [(ngModel)]="cliente.puesto" name="puesto" class="form-control" placeholder="Puesto" required>
    </div>

    <div class="form-group">
      <label for="estado">Estado:</label>
      <input type="text" id="estado" [(ngModel)]="cliente.estado" name="estado" class="form-control" placeholder="Estado" required>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
  </form>
</div>


