<app-pagina-principal></app-pagina-principal>

<h1 >Registro de Ventas</h1>
		<br>	
		<div class="d-flex" >
			
			<div class="col-sm-4">		
				<div class="card">
				
					<form (ngSubmit)="agregarItemVenta()" >	
						<div class="card-body">
							<div class="form-group">
								<label>Datos del Cliente</label>
							</div>
							
						<div class="form-group col-md-9">
						
							<label for="idcliente">Puesto</label> 
							<select id="idcliente" class="form-control" name="idcliente" (change)="actualizarCamposCliente($event)" [(ngModel)]="itemVenta.codproducto" >
								<option value="-1">Seleccione...</option>
								<option *ngFor="let c of cliente" [value]="c.idcliente" 
									[attr.data-codigo]="c.idcliente" 
									[attr.data-cliente]="c.nomcliente + ' ' + c.apecliente" 
									[attr.data-dni]="c.dni" 
									[attr.data-telefono]="c.celular">
									{{c.puesto + ' ' + c.nomcliente}}
								</option>
							</select>
							<br>
							<div class="form-group d-flex">
								
								<div class="col-sm-5 ">
									<label for="inputCli">Cliente</label>
									<input type="text" id="nomcliente" name="nomcliente" [(ngModel)]="selectedCliente.nomcliente"  class="form-control" placeholder="Cliente" readonly>
								</div>
																			
									<div class="col-sm-5">
										<label for="inputCli">DNI</label>
										<input type="text" id="dni" name="dni" [(ngModel)]="selectedCliente.dni"  class="form-control" placeholder="DNI" readonly>
									</div>
										    
								    <div class="col-sm-5">
										<label for="inputCli">celular</label>
										<input type="text" id="telefono" name="telefono" [(ngModel)]="selectedCliente.telefono"  class="form-control" placeholder="Telefono" readonly>
									</div>
							</div>
						
						</div>
							<br>
							<div class="form-group">
								<label> Datos Productos</label>
							</div>
								<div class="form-group col-md-9">
								
									<div class="form-group d-flex " >	
										<div class="col-sm-9">
										    <label for="codproducto">Producto</label>
											 <select id="codproducto" class="form-control" name="codproducto" (change)="actualizarCamposProductos($event)"  >
											    <option value="-1">Seleccione...</option>
											    <option *ngFor="let p of producto" [value]="p.codproducto"  
												[attr.data-precio]="p.precio" 
												[attr.data-stock]="p.stock">>
												{{p.nomproducto}}</option>
											</select>
										
										</div>
									</div>									    
									<br>
									<div class="form-group d-flex">
										<div class="col-sm-4 ">
											<label for="inputCat">Precio</label>
									        <input type="number" id="precio"  name="precio" [(ngModel)]="itemVenta.precio" [(ngModel)]="selectedProducto.precio" class="form-control" placeholder="S/.0.00" readonly>
									    </div>
																		
									      <div class="col-sm-4">
									        <label for="inputCat">Cantidad</label>
									        <input type="text" name="cantidad" [(ngModel)]="itemVenta.cantidad"  class="form-control" placeholder="Cantidad">
									    </div>
									    
									    <div class="col-sm-3">
										     <label for="inputCat">Stock</label>
									        <input type="number" id="stock"  name="stock"  [(ngModel)]="selectedProducto.stock"  class="form-control" placeholder="Stock" readonly>
									    </div>
									</div>
								</div>
								<br>
                            <div class="form-group">
                                <input type="submit"  value="Agregar" class="btn btn-outline-info">		         
                            </div>	
						</div>					
					</form>			
				</div>
			</div>
			
			<div class="col-sm-7">
				<div class="card">
					<div class="card-body">
						<div class=" d-flex  " >
						
							<div class="col-sm-5">
								<a href="/cargarListaVenta"class="btn btn-info" >Lista Venta</a>
							</div>
							
							<div class="ml-auto d-flex col-sm-5" >
								<label>Numero Serie</label>								
								<input type="text" name="nroserie" th:value="${nroserie}" class="form-control">
							</div>
						</div>
						<br>
						<table   class="table table-hover" >
						
							<thead >
								<tr>
								
								<th>Nro</th>
								<th>Codigo</th>
								<th>Producto</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>SubTotal</th>
								<th>Acciones</th>
								
								</tr>
								
							</thead>
							
							<tbody >
								<tr *ngFor="let item of itemVentas; let i = index">
									<td>{{ i + 1 }}</td>
									<td>{{ item.codproducto }}</td>
									<td>{{ item.nomproducto }}</td>
									<td>{{ item.precio }}</td>
									<td>{{ item.cantidad }}</td>
									<td>{{ item.precioventa }}</td>
							        <td class="d-flex">
							            <a th:href="@{'/eliminarItem/'+ ${itemStat.index}}" class="btn btn-danger" style="margin-left:10px;">Eliminar</a>
							        </td>
							    </tr>
							</tbody>
	
						</table>
					
					
					</div>
					
					<div class="card-footer d-flex">
						<div class="col-sm-6">
						  <form id="generarVentaForm" action="/generarVenta" method="post"> 
						    <input type="hidden" id="codigoCliente" name="idcliente" />
						 
						    <div class="col-sm-6">
						        <input type="submit" value="GenerarVenta" class="btn btn-success" >
						    </div>
						</form>

						</div>
						
						<div class="col-sm-4 d-flex">
							<label for="inputCat">Total a Pagar</label>
							<input type="text" name="totalPagar"  th:value="${totalPagar}" class="form-control">
						</div>
	
					</div>
				
				</div>			
			</div>
		</div>