<app-pagina-principal></app-pagina-principal>

<div class="container">
  <h1 class="text-center">Listado Cliente</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">DNI</th>
        <th scope="col">DIRECCIÓN</th>
        <th scope="col">CELULAR</th>
        <th scope="col">PUESTO</th>
        <th scope="col">ACCIONES</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
        <th scope="row">{{ c.idcliente }}</th>
        <td>{{ c.nomcliente }}</td>
        <td>{{ c.apecliente }}</td>
        <td>{{ c.dni }}</td>
        <td>{{ c.direccion }}</td>
        <td>{{ c.celular }}</td>
        <td>{{ c.puesto }}</td>
        <td><button class="btn btn-primary">Editar</button></td>
        <td><button class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
