<app-pagina-principal></app-pagina-principal>

<div class="container">
  <br>
  <h1 class="text-center">Producto</h1>
  <h4 class="text-left">Ingrese los datos:</h4>

  <form class="row g-3" (ngSubmit)="agregarProducto()">

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="codproducto" class="form-label me-2 mb-0">Código</label>
      <input type="text" class="form-control" id="codproducto" name="codproducto" placeholder="Ingrese Codigo" required>
    </div>

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="nomproducto" class="form-label me-2 mb-0">Nombre</label>
      <input type="text" name="nomproducto" class="form-control" id="nomproducto" placeholder="Nombre">
    </div>

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="idcategoria" class="form-label me-2 mb-0">Categoria</label>
      <input type="text" name="idcategoria" class="form-control" id="idcategoria" placeholder="Categoria">
    </div>

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="precio" class="form-label me-2 mb-0">Precio</label>
      <input type="text" name="precio" class="form-control" id="precio" placeholder="Precio">
    </div>

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="stock" class="form-label me-2 mb-0">Stock</label>
      <input type="text" name="stock" class="form-control" id="stock" placeholder="Stock">
    </div>

    <div class="col-md-6 d-flex align-items-center mb-3">
      <label for="estado" class="form-label me-2 mb-0">Estado</label>
      <input type="number" name="estado" class="form-control" id="estado" placeholder="Estado">
    </div>

    <div class="col-12">
      <button type="submit" routerLink="/listProducto" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>
